@use "../abstract/mixins";
@use "../abstract/variables";

//global forms control
.form-control {
	display: block;
	width: 100%;
	padding: 0.625rem 0.75rem;
	margin-bottom: 15px;
	color: gray;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
	background: variables.$white-color;
	border: 1px solid #ced4da;
	background-clip: padding-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-label {
	font-size: 0.8125rem;
	margin-bottom: 0.5rem;
}
